h1 {
    color: #333;
    font-family: Arial, sans-serif;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

input[type="text"], select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #999;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultado {
    font-size: 18px;
    font-weight: bold;
}
